<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 목록</title>
</head>
<body>
	<h1>상품 관리</h1>
	<h2>목록 보기</h2>
	<table>
		<tr>
			<th>상품명</th>
			<th>가격</th>
		</tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.name}" />
			<td th:text="${product.price}" />
		</tr>
	</table>
	<form action="/products" method="get" >
		상품명: <input type = "text" name="name"><br>
		가격: <input type = "number" step="any" name="price"><br>
		<button type="submit">상품 추가</button>	
	</form>
</body>
</html>